@import './shared/index.scss';
@import './ui/index.scss';

html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

.winning-number {
  width: 30px;
  height: 36px;
}

.bonus-number {
  width: 30px;
  height: 36px;
}

#purchased-lotto-section__display {
  margin-top: 15px;
}

#purchase-result-section__lotto {
  display: flex;

  &-number {
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 23px;
  }
}
